<div class="container">
  <!-- Mobile-first header -->
  <div class="header-section mb-4">
    <h2 class="heading-heading mb-0">
    <span class="heading-highlight">{{isEditMode ? 'Edit' : 'Add'}}</span> Student
  </h2>
  </div>
  
  <div *ngIf="isLoading" class="loading-container">
    <app-skeleton-loader type="rect" width="100%" height="2.5em" style="margin-bottom: 1em;"></app-skeleton-loader>
    <app-skeleton-loader type="rect" width="100%" height="2.5em" style="margin-bottom: 1em;"></app-skeleton-loader>
    <app-skeleton-loader type="rect" width="100%" height="2.5em" style="margin-bottom: 1em;"></app-skeleton-loader>
    <app-skeleton-loader type="rect" width="60%" height="2.5em"></app-skeleton-loader>
    <p class="mt-2">Loading data...</p>
  </div>

  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading" class="student-form">
    <div class="form-container">
      <div class="row g-3">
        <div class="col-12 col-md-6">
          <mat-form-field appearance="outline" class="w-100 mobile-form-field" 
                         [class.mat-form-field-invalid]="hasFieldError('firstName')"
                         [class.mat-form-field-valid]="isFieldValid('firstName')">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" placeholder="Enter first name" 
                 (input)="onTextInput($event)" maxlength="50">
          <mat-error *ngIf="hasFieldError('firstName')">{{ getFieldError('firstName') }}</mat-error>
        </mat-form-field>
      </div>

        <div class="col-12 col-md-6">
          <mat-form-field appearance="outline" class="w-100 mobile-form-field"
                         [class.mat-form-field-invalid]="hasFieldError('lastName')"
                         [class.mat-form-field-valid]="isFieldValid('lastName')">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" placeholder="Enter last name" 
                 (input)="onTextInput($event)" maxlength="50">
          <mat-error *ngIf="hasFieldError('lastName')">{{ getFieldError('lastName') }}</mat-error>
        </mat-form-field>
      </div>

        <div class="col-12 col-md-6">
          <mat-form-field appearance="outline" class="w-100 mobile-form-field"
                         [class.mat-form-field-invalid]="hasFieldError('dateOfBirth')"
                         [class.mat-form-field-valid]="isFieldValid('dateOfBirth')">
          <mat-label>Date of Birth</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" 
                 [min]="minDate" [max]="maxDate" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker [startAt]="defaultDate"></mat-datepicker>
          <mat-error *ngIf="hasFieldError('dateOfBirth')">{{ getFieldError('dateOfBirth') }}</mat-error>
        </mat-form-field>
      </div>

        <div class="col-12 col-md-6">
          <mat-form-field appearance="outline" class="w-100 mobile-form-field"
                         [class.mat-form-field-invalid]="hasFieldError('symbol')"
                         [class.mat-form-field-valid]="isFieldValid('symbol')">
          <mat-label>Symbol</mat-label>
          <input matInput formControlName="symbol" placeholder="Enter symbol">
          <mat-error *ngIf="hasFieldError('symbol')">{{ getFieldError('symbol') }}</mat-error>
        </mat-form-field>
      </div>

        <div class="col-12 col-md-6">
          <mat-form-field appearance="outline" class="w-100 mobile-form-field"
                         [class.mat-form-field-invalid]="hasFieldError('height')"
                         [class.mat-form-field-valid]="isFieldValid('height')">
          <mat-label>Height (cm)</mat-label>
          <input matInput type="number" formControlName="height" placeholder="Enter height" 
                 min="30" max="200" step="0.1" (input)="onNumberInput($event)">
          <mat-error *ngIf="hasFieldError('height')">{{ getFieldError('height') }}</mat-error>
        </mat-form-field>
      </div>

        <div class="col-12 col-md-6">
          <mat-form-field appearance="outline" class="w-100 mobile-form-field"
                         [class.mat-form-field-invalid]="hasFieldError('weight')"
                         [class.mat-form-field-valid]="isFieldValid('weight')">
          <mat-label>Weight (kg)</mat-label>
          <input matInput type="number" formControlName="weight" placeholder="Enter weight" 
                 min="5" max="50" step="0.1" (input)="onNumberInput($event)">
          <mat-error *ngIf="hasFieldError('weight')">{{ getFieldError('weight') }}</mat-error>
        </mat-form-field>
      </div>

        <div class="col-12 col-md-6">
          <mat-form-field appearance="outline" class="w-100 mobile-form-field"
                         [class.mat-form-field-invalid]="hasFieldError('language')"
                         [class.mat-form-field-valid]="isFieldValid('language')">
          <mat-label>Home Language</mat-label>
          <input matInput formControlName="language" placeholder="Enter home language" 
                 (input)="onTextInput($event)" maxlength="30">
          <mat-error *ngIf="hasFieldError('language')">{{ getFieldError('language') }}</mat-error>
        </mat-form-field>
      </div>

        <div class="col-12 col-md-6">
          <mat-form-field appearance="outline" class="w-100 mobile-form-field"
                         [class.mat-form-field-invalid]="hasFieldError('gender')"
                         [class.mat-form-field-valid]="isFieldValid('gender')">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender" placeholder="Select gender">
            <mat-option value="Boy">Boy</mat-option>
            <mat-option value="Girl">Girl</mat-option>
            <mat-option value="N/A">N/A</mat-option>
          </mat-select>
          <mat-error *ngIf="hasFieldError('gender')">{{ getFieldError('gender') }}</mat-error>
        </mat-form-field>
      </div>

        <div class="col-12 col-md-6">
          <mat-form-field appearance="outline" class="w-100 mobile-form-field">
          <mat-label>Anganwadi Center</mat-label>
          <input matInput [value]="currentAnganwadiName" readonly>
          <mat-hint *ngIf="!isEditMode">Student will be assigned to your center</mat-hint>
        </mat-form-field>
        <!-- Hidden field to store the anganwadi ID -->
        <input type="hidden" formControlName="anganwadiId">
      </div>

        <div class="col-12 col-md-6">
          <mat-form-field appearance="outline" class="w-100 mobile-form-field">
          <mat-label>Assigned Worker</mat-label>
          <input matInput [value]="currentUserName" readonly>
          <mat-hint *ngIf="!isEditMode">Student will be assigned to you</mat-hint>
        </mat-form-field>
        <!-- Hidden field to store the AWW ID -->
        <input type="hidden" formControlName="awwId">
        </div>
      </div>
    </div>

    <div class="form-actions">
      <button class="btn btn-outline-secondary" type="button" (click)="goBack()">Cancel</button>
      <button style="margin: 1rem;" type="submit" 
              [disabled]="studentForm.invalid || studentForm.pending" 
              [ngClass]="{
                'btn-secondary': studentForm.invalid || studentForm.pending, 
                'btn-primary': studentForm.valid && !studentForm.pending
              }" 
              class="btn submit-btn">
        <span *ngIf="studentForm.pending">Validating...</span>
        <span *ngIf="!studentForm.pending">{{isEditMode ? 'Update' : 'Create'}} Student</span>
      </button>
    </div>
  </form>
</div>