<div class="home-container">
  <div class="content-section">
    <div class="school-readiness-header">
      <h1 class="heading-heading school-title">School <span class="heading-highlight">Ready</span> Children</h1>
      <p class="lead school-lead">
        School readiness is a crucial phase in a child's development, encompassing a range of skills and competencies that prepare them for a smooth and successful transition into grade 1. The required sets of skills and abilities include cognitive skills such as basic literacy and numeracy, as well as emotional and social competencies like self-regulation, cooperation, and communication. A child who is school-ready can follow instructions, interact positively with peers and teachers, and adapt to the structured environment of a classroom. Ensuring school readiness involves a collaborative effort among parents, educators, and the community to provide enriching experiences and support that foster these essential skills. </p>
    </div>

    <!-- Desktop footer - hidden on mobile -->
    <div class="school-readiness-footer desktop-footer">
      <p class="lead school-lead">
        School readiness lays the foundation for a child's lifelong learning and success. A good early childhood education program should offer an age-appropriate and developmentally suitable learning environment for all children, ensuring that every 6-year-old is school-ready when they enter primary school. This tool will assist ECE educators in providing necessary early learning experiences to children based on their individual developmental journeys.
      </p>
    </div>
  </div>

  <app-radial-dial></app-radial-dial>

  <!-- Mobile footer - hidden on desktop -->
  <div class="content-section mobile-footer">
    <div class="school-readiness-footer">
      <p class="lead school-lead">
        School readiness lays the foundation for a child's lifelong learning and success. A good early childhood education program should offer an age-appropriate and developmentally suitable learning environment for all children, ensuring that every 6-year-old is school-ready when they enter primary school. This tool will assist ECE educators in providing necessary early learning experiences to children based on their individual developmental journeys.
      </p>
    </div>
  </div>
</div>
