

<div class="card">
  <div class="card-body">
    <h2 class="heading-heading mb-4">
      <span class="heading-highlight">{{isEditMode ? 'Edit' : 'Add'}}</span> Anganwadi Center
    </h2>

    <form [formGroup]="anganwadiForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Center Name</mat-label>
            <input matInput formControlName="name" placeholder="Enter center name">
            <mat-error *ngIf="anganwadiForm.get('name')?.hasError('required')">
              Center name is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Center Code</mat-label>
            <input matInput formControlName="code" placeholder="Enter center code">
            <mat-error *ngIf="anganwadiForm.get('code')?.hasError('required')">
              Center code is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Project</mat-label>
            <input matInput formControlName="project" placeholder="Enter project name">
            <mat-error *ngIf="anganwadiForm.get('project')?.hasError('required')">
              Project is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Sector</mat-label>
            <input matInput formControlName="sector" placeholder="Enter sector">
            <mat-error *ngIf="anganwadiForm.get('sector')?.hasError('required')">
              Sector is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-4 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country_id" (selectionChange)="onCountryChange($event.value)">
              <mat-option *ngFor="let country of countries" [value]="country.id">
                {{country.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="anganwadiForm.get('country_id')?.hasError('required')">
              Country is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-4 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>State</mat-label>
            <mat-select formControlName="state_id" 
                       [disabled]="!anganwadiForm.get('country_id')?.value || loadingStates"
                       (selectionChange)="onStateChange($event.value)">
              <mat-option *ngIf="loadingStates" disabled>
                <mat-spinner diameter="20"></mat-spinner> Loading...
              </mat-option>
              <mat-option *ngFor="let state of states" [value]="state.id">
                {{state.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="anganwadiForm.get('state_id')?.hasError('required')">
              State is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-4 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>District</mat-label>
            <mat-select formControlName="district_id" 
                       [disabled]="!anganwadiForm.get('state_id')?.value || loadingDistricts">
              <mat-option *ngIf="loadingDistricts" disabled>
                <mat-spinner diameter="20"></mat-spinner> Loading...
              </mat-option>
              <mat-option *ngFor="let district of districts" [value]="district.id">
                {{district.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="anganwadiForm.get('district_id')?.hasError('required')">
              District is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="d-flex justify-content-end gap-2 mt-4">
        <button type="button" class="btn btn-outline-secondary" (click)="goBack()">Cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="anganwadiForm.invalid || submitting">
          <mat-spinner *ngIf="submitting" diameter="20" class="me-2"></mat-spinner>
          {{isEditMode ? 'Update' : 'Create'}} Center
        </button>
      </div>
    </form>
  </div>
</div>